.phone__head {
    background: #323232;
    height: 112px;
    width: 400px;
    border-radius: 11px 11px 0 0;
    padding: 20px 31px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.head__txt {
    color: white;
    margin-left: 10px;
}

.head__name {
    font-family: 'RM', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 14px;
}

.head__status {
    font-family: 'RL', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
}